.pie__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

* {
  padding: 0;
  margin: 0; }

.cuerpo {
  background: #f0f0f0;
  background: radial-gradient(circle, #f0f0f0 0%, #454545 100%); }

.pie {
  background-color: #f0f0f0;
  height: fit-content; }

.logoContacto {
  color: black; }

.header {
  background-color: #757132; }
  .header__logo {
    height: 100px;
    width: 100px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.267);
    border: 5px solid black;
    border-radius: 5%; }

.navbar {
  background-image: url(./imagenes/forja);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.nav-link {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.267); }

.divisor {
  width: 100%;
  opacity: 100%;
  border-width: 10px;
  border: solid;
  color: rgba(0, 0, 0, 0.467); }

.presentacion {
  border: solid;
  color: rgba(0, 0, 0, 0.467);
  color: black;
  font-size: 25px;
  font-style: italic; }

.textoEnriquecido {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  -webkit-box-shadow: 8px 0px 37px 5px #000000;
  box-shadow: 8px 0px 37px 5px #000000;
  animation-name: flotando;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes flotando {
  0% {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0px); } }

.fotoFranco {
  height: 800px;
  width: 600px;
  border: solid;
  color: rgba(0, 0, 0, 0.467); }

.imagenesInoxidable {
  height: 550px;
  width: 700px;
  border: 5px solid black; }

.parrafoInoxidable {
  height: 550px;
  width: 300px;
  padding: 10px;
  border: 5px solid black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  word-spacing: 5px;
  text-align: center; }

.galeriaDamasco {
  height: 450px;
  width: 700px;
  border: 5px solid black; }

.formulario {
  border: double black; }
