.cuerpo{
    background: rgb(240,240,240);
    background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(69,69,69,1) 100%);
}
.header{
    background-color: #757132;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.267);
    border: solid black;
    border-radius: 5%;
}
.navbar{
    background-image: url(./imagenes/forja);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-link{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.438);
}
.presentacion{
    border: solid 2px;
    background-color: #f0f0f0;
    color: black;
    font-size: 25px;
    font-style: italic;
}
.textoEnriquecido{
    font-size: 30px;
    font-style: normal;
    text-align: center;
    -webkit-box-shadow: 8px 0px 37px 5px #000000; 
    box-shadow: 8px 0px 37px 5px #000000;
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes flotando {
    0%{
        transform: translate(0, 0px) ;
    }
    50%{
        transform: translate(0, 15px);
    }
    100%{
        transform: translate(0. -0px);
    }
}
.fotoFranco{
    height: 800px;
    width: 600px;
    border-style: solid;
}
.footer{
    background-color: #f0f0f0;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}
.logoContacto{
    color: black;
}
.formulario{
    border: double black;
}
.imagenesInoxidable{
    height: 550px;
    width: 700px;
    border: #08080871 solid 7px;
}
.parrafoInoxidable{
    height: 550px;
    width: 300px;
    padding: 10px;
    border: solid 5px #08080871;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    word-spacing: 5px;
    text-align: center;
}
.divisor{
    width: 100%;
    border-style: solid;
    opacity: 100%;
    border-width: 10px;
    color: rgba(0, 0, 0, 0.466);
}
.galeriaDamasco{
    height: 450px;
    width: 700px;
    border: #08080871 solid 7px;
}