.header{
    background-color: #757132;
}
.introIndex{
    height: 500px;
    background-color: red;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.navbar{
    background-image: url(./imagenes/forja);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-link{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.521);
}
.quienSoy{
    background-color: rgba(0, 128, 0, 0.479);
}
.fotoFranco{
    height: 800px;
    width: 600px;
    border-style: solid;
}
.footer{
    background-color: #C2BE8D;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}