.imagenesInoxidable{
    max-width: 100%;
    width: 700px;
    border: $borde-solido;
    margin: 0%;
}
.parrafoInoxidable{
    height: 550px;
    width: 300px;
    padding: 10px;
    border: $borde-solido;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    word-spacing: 5px;
    text-align: center;
}

.inoxidable{
    margin: 0%;
}