*{
    padding: 0;
    margin: 0;
}

// BODY //
.cuerpo{
    background: $color-principal;
    background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(69,69,69,1) 100%);
}




// FOOTER //
.pie{
    background-color: map-get($colores,color-principal);
    height: fit-content;
    
    &__redes{
        @extend %flexbox;
    }
}
.logoContacto{
    color: map-get($colores, color-tercero);
}




// HEADER //
.header{
    background-color: #757132;

    &__logo{
        height: 100px;
        width: 100px;
        border-radius: 5%;
        background-color: map-get($colores, color-cuarto);
        border: $borde-solido;
        border-radius: 5%;
    }
}
.navbar{
    background-image: url(./imagenes/forja);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-link{
    font-size: 20px;
    background-color: map-get($colores, color-cuarto);
}




// BARRA DIVISORA //
.divisor{
    width: 100%;
    opacity: 100%;
    border-width: 10px;
    @include bordeYColor (solid, $color-secundario)
}